<nav>
    <a routerLink="/accueil" title="presentation">Présentation de l'univers</a>
    <a href="heros.html" title="heros">Les héros</a>
    <a href="ile.html" title="heros">L'île</a>
    <a href="regles.html" title="regles">Règles</a>
    <a href="classe.html" title="classe">Classes</a>
    <a href="dons.html" title ="dons">Dons et compétences</a>
    <a href="magie.html" title="magie">Magie ancestrale</a>
    <a href="bateaux.php" title="bateaux">Navires et pillage</a>
    <a href="commerce.php" title="commerce">Commerce</a>
    <a href="quetes.html" title="quetes">Quêtes secondaires</a>
    <a href="alchimie.html" title="alchimie">Alchimie</a>
    <a href="calcul.html" title="calculateur">Calculateur</a>
</nav>
